<!--end main content-->
</div>

<div class="col c3">

<h3>Links</h3>

<div class="row">
  <div class="col c6"><a href="{{SITE_URL}}/about/#archives">Archives</a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#clone">Clone</a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#pull">Pulls</a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#git">Git</a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#gpg">GPG</a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#lfs">Git annex / LFS</a></div>
</div>
<br>

<b>Search</b>            
<form class="inline smooth" action="https://duckduckgo.com/" method="POST">
<input class="smooth" type="text" placeholder="Search" aria-label="Search" name="q">
<input class="smooth" type="hidden" name="sites" value="{{SITE_URL}}">
</form>
            
<br>
            
<div class="row">
  <div class="col c6"><a href="{{SITE_URL}}/about/#archives"><i class="fab fa-btc"></i></a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#clone"><i class="fab fa-paypal"></i></a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#pull"><i class="fab fa-gratipay"></i></a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#git"><i class="fab fa-ethereum"></i></a></div>
  <div class="col c6"><a href="{{SITE_URL}}/about/#gpg"><i class="fab fa-patreon"></i></a></div>
</div>

</div>

<!--end of container-->
</div>
<!-- page content ends here -->




<!-- code for comments here -->
