<div class="container">
<hr>                                                                                                                                                                          
<p>{{PAGE}} generated {{DATE}}. <a href="#top">Back to top</a></p>                                                                                                                                   
<p>&copy; 2017-2018 {{SITE_NAME}} &middot; <a href="{{SITE_URL}}/privacy">Privacy</a> &middot; <a href="{{GIT_SOURCE}}">Source</a></p> 

</div>

<script src="{{SITE_URL}}/assets/main.js"></script>

</body></html>
