<a href="{{SITE_URL}}/">Home</a> 

<a href="{{SITE_URL}}/about">About</a>

<a href="{{SITE_URL}}/contact">Contact</a>


<!--End Menu-->
</div>
</nav>
<button class="btn-close btn btn-sm">×</button>

<!-- page content starts here -->
<div class="container">
<div class="row">
<div class="col c9">
