<ul class="navbar-nav navbar-right ml-auto">

<li class="nav-item"> 
<a class="nav-link" href="{{SITE_URL}}/index.html">Home</a> 
</li>

<li class="nav-item">
<a class="nav-link" href="{{SITE_URL}}/about.html">About</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{SITE_URL}}/contact.html">Contact</a>
</li>

<li class="nav-item">
<a class="nav-link" href="https://git.joepcs.com">Git</a>
</li>

</ul>

<!-- search duckduckgo -->
<form class="form-inline" action="https://duckduckgo.com/" method="POST">
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
<input type="hidden" name="sites" value="{{SITE_URL}}"><button class="btn btn-success" type="submit">Search</button>
</form>

</div>
</div>
</nav>

<!-- page content starts here -->
<div class="container">

<div class="row">

<div class="col-md-8 card-body">
